.env
.aider*
**/__pycache__
**/.pytest_cache
.venv
/dist
*.egg-info

priv   # put secrets here
/**/priv
.DS_Store
build
**/build
/htmlcov
.coverage
coverage.xml
.hypothesis

node_modules
src/bubble/static/css/output.css
.idea/rdfandsparql.xml
audio_packets.db
.obsidian

# Documentation
docs/_build/
docs/build/
docs/source/_autosummary/
docs/source/generated/
*.doctree
*.pickle
